@charset "UTF-8";
body{
  background:#000000;
}
div#block-block-228 .content{
	background:#000000;
	color:#ffffff;	
}
div#block-block-228 .content ul{
	color:#ffffff;	
}
div#block-block-228 .content ul li{
	float:left;
	color:#ffffff;
}
	div#block-block-228 .content ul li a{
	color:#ffffff;
	}
