@charset "UTF-8";
body{
  background:#f6f4f0;
}
div#block-block-228{
	margin-bottom:0;
}
div#block-block-228 .content{
	background:#000000;
	color:#ffffff;	
	height:30px;
	z-index:1030;
	position:fixed;
	top:0px;
	bottom:auto;
	margin:0 auto 0 -10px;
	padding:0;
	width:1016px;
}
div#block-block-228 .content ul{
	color:#ffffff;	
}
div#block-block-228 .content ul li{
	float:left;
	color:#ffffff;
}
	div#block-block-228 .content ul li a{
	color:#ffffff;
	line-height:30px;
	padding:0 10px;
	font-family:"Lato","Verdana",sans-serif;
	font-size:14px;
	font-weight:normal;
	}
div.region-header{
	overflow: inherit;
	padding-top:40px;
}
#header .container{
	overflow: inherit;
}
#page-wrapper{
	position:relative;
}
.main .item-list h3 {
    font-size: 17px;
    line-height: 19px;
    margin: 0;
    font-family:"Lato","Verdana",sans-serif;
    font-weight: 700;
    color:#009EC6;
}
.main .item-list h3 a{
    color:#009EC6;
}
.main .item-list p {
    margin: 0 0 7px;
    font-family: "Alegreya","Times New Roman",serif;
    font-weight:400;
    color:#000000;
    font-size:16px;
    line-height: 20px;
    letter-spacing: normal;
}
.main h2, .sidebar h2, .view-recipe-tags h3, .sidebar h3 {
    color: #000000;
    font-size: 20px;
    font-family:"Alegreya","Times New Roman",serif;
    line-height: 21px;
    margin: 0 0 4px;
    text-transform: uppercase;
    background: #ffff00;
    border-left: 20px solid transparent;
    padding:2px 0 5px 20px;
    background-clip: border-box;
}
.main h2, .sidebar h2:before, .view-recipe-tags h3, .sidebar h3:before{
       content:url('http://www.rd.com/wp-content/themes/readersdigest/images/half-circle.png');
       display:block;
       position:relative;
       left: -30px;
  }
.pane-block-24 ul li{
	font-size: 16px;
    font-family:"Alegreya","Times New Roman",serif;
    padding:5px 0;
	
}