.slider {
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	display: block;
	background: #f6f4f0;
	}
#slider {
	height: 450px;
	width: 380px;
	position: relative;
	display: block;
	overflow: hidden;
	margin-left: auto;
	margin-right:auto;
	background: #f6f4f0;
	}
.slide-img img {
	width: 380px;
	height: 280px;
	border:none;
}
.slide-title {
	width: 380px;
	height: 60px;
	color: #0099cc;
	font-size: 24px;
	padding: 10px 10px;
}
.slide-title a {
	text-decoration: none;
}
.slide-title span {
	color: #0099cc;
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	font-style: normal;
	font-family: "Lato", "Verdana", sans-serif;
}
.slide-description {
	font-family: "Alegreya", "Times New Roman", serif;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	line-height: 20px!important;
	font-size: 17px;
	width: 380px;
}
.slide-description p {
	margin: 10px 10px;
}
#slider-menu {
	position: relative;
	bottom: -40px;
	right: 0;
	font-size: 15px;
	line-height: 20px;
}
.slider-nav {
	margin-top: -30px;
	z-index: 9;
	position: relative;
}
.slider-nav-right {
	width: 350px;
	height: 22px;
	float: left;
}
.slider-pause {
	float: right;
	margin-top: 0;
	margin-right: 0;
	background: yellow;
}
#slider-menu .slider-pause .resume {
	color: red;
	width: 21px;
	cursor: pointer;
	margin-right: 0;
	padding-right: 0;
	background: green;
}
#slider-menu .slider-pause .pause
{
    color:red;
    background: yellow;
    width:21px;
    cursor:pointer;
    text-indent:-999999px;
    margin-right:0;
    padding-right:0
}

#slider-menu .slider-pause a {
	font-style: normal;
	font-weight: 400;

}
#slider-menu a.current
{
    float:left;
    display:block;
    width:21px;
    height:21px;
    background:url(/wp-content/themes/readersdigest/images/slider_btn_inactive.png) no-repeat;
    margin:0 3px 0 0;
    text-decoration:none;
    padding:0 0 0 1px;
    font-size: 15px;
    line-height: 20px;    
}
#slider-menu a.current span {
	float: left;
	display: block;
	padding: 0;
	margin: 0 0 0 5px;
	color: blue;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
}
#slider-menu ul {
	margin: 0;
	padding:0;
    list-style:none;
    float:right;
}
#slider-menu li {
	 display:inline;
    margin:0;
    padding:0;
}
#slider-menu a
{
    float:left;
    margin:0 3px 0 0;
    text-decoration:none;
    padding:0 0 0 1px;
    font-family:"Lato","Verdana",sans-serif;
    font-style:normal;
    font-weight:700;
    display:block;
    width:21px;
    height:21px;
    background:grey;
}
#slider-menu a span
{
    float:left;
    display:block;
    padding:0;
    margin:0 0 0 5px;
    text-decoration:none !important;
    color:#fff;
    font-size: 15px;
    line-height: 20px;
}

.node-type-slideshow h1.title, .node-type-article h1.title{
	font-family:"Lato","Verdana",sans-serif;
	font-size:35px;
	color:#000000;
	line-height:40px;
	text-transform: none;
}
.node-type-slideshow .intro p, .node-type-slideshow em.author, .node-type-article .intro p span, .node-type-article em.author{
	font-family:"Lato","Verdana",sans-serif;
	font-weight:200;
	color: #000000;
	font-size:19px;
	line-height:normal;
	letter-spacing: normal;
	margin:30px 0 20px 0;
}
.node-type-slideshow em.author, .node-type-article em.author{
	font-weight:300;
	font-style: normal;
	margin:0 0 20px 0;
}
.social-actions{
	list-style-type: none;
}
	.social-actions li{
	float:left;
	}
#slideshow-slide-title h3{
	font-family:"Lato","Verdana",sans-serif;
	font-weight:200;
	color: #000000;
	font-size:18px;
	line-height:normal;
	letter-spacing: normal;
}
#slideshow-slide-description p {
	font-family: "Alegreya","Times New Roman",serif;
	font-size:16px;
	line-height:normal;
}
.slide-control #slideshow-slide-previous, .slide-control #slideshow-slide-next{
	color:#0099cc;
	font-family:"Lato","Verdana",sans-serif;
	font-weight:200;
	font-size: 16px;
}
.slide-control #slideshow-slide-next span, .slide-control #slideshow-slide-previous span{
	color:#0099cc;
}
.visual-box {
	border:none;
	background:#ffffff;
}
.main{
	width: 620px;
	border-left:none;
	border-right: none;
}