@charset "UTF-8";
body{
  background:#f6f4f0;
}
div#block-block-228{
	margin-bottom:0;
}
div#block-block-228 .content{
	background:#000000;
	color:#ffffff;	
	height:30px;
	z-index:1030;
	position:fixed;
	top:0px;
	bottom:auto;
	margin:0 auto 0 -10px;
	padding:0;
	width:1016px;
}
div#block-block-228 .content ul{
	color:#ffffff;	
}
div#block-block-228 .content ul li{
	float:left;
	color:#ffffff;
}
	div#block-block-228 .content ul li a{
	color:#ffffff;
	line-height:30px;
	padding:0 10px;
	font-family:"Lato","Verdana",sans-serif;
	font-size:14px;
	font-weight:normal;
	}
div.region-header{
	overflow: inherit;
	padding-top:40px;
}
#header .container{
	overflow: inherit;
}
#page-wrapper{
	position:relative;
}