@charset "UTF-8";
body{
  background:#f6f4f0;
}
div#block-block-228{
	margin-bottom:0;
}
div#block-block-228 .content{
	background:#000000;
	color:#ffffff;	
	height:30px;
	z-index:1030;
	position:absolute;
	left:0px;
	right:0px;
	margin:0 -10px;
	padding:0;
}
div#block-block-228 .content ul{
	color:#ffffff;	
}
div#block-block-228 .content ul li{
	float:left;
	color:#ffffff;
}
	div#block-block-228 .content ul li a{
	color:#ffffff;
	line-height:30px;
	padding:0 10px;
	}
div.region-header{
	overflow: inherit;
}
#header .container{
	overflow: inherit;
}